*{
	margin: 0px;
	padding: 0px;
}
.cencontent{
	width: 800px;
	height: 400px;
}
h1{
	margin-left: -495px;
}
span{
	font-size: 25px;
	color: #C6C6C6;
	margin-left: -495px;
}
br{
	color: white;
}
.cencontent p{
	margin-left:-295px;
	font-weight: bold;
}
