*{
	margin: 0px;
	padding: 0px;
}
.content{
	padding:20% 20%;
	font-size: 20px;
}
.incontent{
	color: #C6C6C6;
	font-size: 15px;
}
.mine{
	width: 700px;
	height: 500px;
	padding-top: 40px;
	color: #C6C6C6;
	font-size: 20px;
}
.inmine{
	margin-top: 25%;
	font-size: 40px;
}
.inner{
	border: solid;
	padding: 50px;
	background: #536162;
}
.cover{

	border: solid;
	border-top-color: #8ab6d6;
	border-left-color: #8ab6d6;
	border-right-color: #2978b5;
	border-bottom-color: #2978b5;
	margin-top: 87px;
	margin-bottom: 160px;
}
