/* 初始化 */
*{
	cursor: url('../fonts/01.cur'),auto;
	margin: 0;
	padding: 0;
}
@font-face {
	font-family:'miSans';
	src: url(../fonts/MiSans-Bold.ttf) format('truetype');
}
.miSans{
	font-family:'miSans';
}
/* 淡入效果 */
@keyframes fadeInAnimation { 
0% { 
opacity: 0; 
	} 
100% { 
opacity: 1; 
	} 
}
.fadeInStyle{
	animation: fadeInAnimation ease 3s;
	animation-iteration-count: 1; 
	animation-fill-mode: forwards;
}
/* 文字选中背景 */
::selection {
	background: #FF625A;
	color: #fff;
}
::-moz-selection {
	background: #FF625A;
	color: #fff;
}
/* 导航栏 */
.nav{
	width: 100%;
	height: 60px;
	background: #343434;
	position: fixed;
	top: 0px;
	z-index: 999;
}
ul{
	margin: 10px 20%;
}
ul a{
	color: #E9E9E9;
}
li{
	float:left;
	list-style:none;
	padding:5px 10px;
	position:relative;
}
li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 0;
    height: 100%;
    border-bottom: 3px solid #29CE42;
    transition: 0.2s all linear;
    z-index:-1;
}
li:hover::before {
    width: 100%;
    left: 0;
}
li:hover ~ li::before {
    left: 0;
}
.item{
    width:120px;
    height:30px;
	text-align: center;
}
.box{
    background: #343434;
    width:100%;
    height:100%;
    transition:all 1s;
    transform-style: preserve-3d;
    position: relative;
}
.item:hover .box{
    transform: rotateY(180deg);
}
.font, .back{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-align: center;
/*    line-height: 200px; */
    backface-visibility: hidden;
}
.back{
    transform: rotateY(180deg);
}
/* 整体背景 */
body{
    align-items: center;
    justify-content: center;
    display: flex;
}
body,
.main::before {
    background: url('../images/06.jpg') no-repeat center fixed;
    background-size: cover;
}
.main {
    position: relative;
	top: 60px;
    width: 90%;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px #fff;
    overflow: hidden;
	margin-top: 12px;
}
.main::before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -20px;
    filter: blur(10px);
}
/* 居中块 */
.centerArea{
	width: 1080px;
	height: 450px;
	margin: 0px auto;
	/* background: #004545; */
	position: relative;
	border-radius: 10px;
}
/* 宠物养殖区 */
#petHome{
	width: 200px;
	height: 80px;
	background: #E9E9E9;
	font-size: 25px;
	position: relative;
	top: 10px;
	border-radius: 10px;
	padding: 60px 0 0 0;
}
#petHome:hover button{
	background: url(../images/shanchu.png);
	width: 20px;
	height: 20px;
	border: none;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	z-index: 999;
}
#petHome img{
	width: 171px;
	height: 147px;
	position: absolute;
	top: 3px;
	left: 7px;
}
/* 时间区域 */
#currentTime{
	width: 400px;
	height: 80px;
	background: #E9E9E9;
	position: absolute;
	top: 10px;
	left: 230px;
	font-size: 25px;
	color: #797979;
	text-align: center;
	border-radius: 10px;
	padding: 30px 0 30px 0;
}
/* ip地址区域 */
#ipAddress{
	width: 400px;
	height: 80px;
	background: #E9E9E9;
	font-size: 25px;
	position: absolute;
	top: 10px;
	right: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px 0 30px 0;
	color: #797979;
}
#ipAddress:hover button{
	background: url(../images/shanchu.png);
	width: 20px;
	height: 20px;
	border: none;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	z-index: 999;
}
/* 每日一句区域 */
#oneSentence{
	width: 530px;
	height: 140px;
	background: #E9E9E9;
	position: absolute;
	top: 160px;
	left: 0px;
	text-align: center;
	border-radius: 10px;
	padding: 60px 0 0 0;
	color: #797979;
}
#oneSentence:hover button{
	background: url(../images/shanchu.png);
	width: 20px;
	height: 20px;
	border: none;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	z-index: 999;
}
/* 音乐吧区域 */
#musicBar{
	width: 480px;
	height: 140px;
	background: #E9E9E9;
	position: absolute;
	top: 160px;
	left: 580px;
	text-align: center;
	border-radius: 10px;
	padding: 30px 0 30px 0;
	font-size: 20px;
	color: #797979;
}
#musicBar:hover button{
	background: url(../images/shanchu.png);
	width: 20px;
	height: 20px;
	border: none;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	z-index: 999;
}
#musicBar a{
	text-decoration: none;
	color: #797979;
}
#musicBar a:hover{
	cursor: pointer;
	font-size: 22px;
	color: #0052D9;
}
/* #container{ width:250px; border:1px solid #000; font:12px/150% Simsun,Arial; padding:5px; }
#title{ float:left; width:150px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; }
#time{ float:right; }
#range{ display:block; margin:0; padding:0; width:250px; clear:both; }
.button{ display:inline-block; border:1px solid #000; text-align:center; padding:3px; text-decoration:none; color:#000; }
.button:hover{ border-color:#966; color:#966; }
#play{ width:40px; }
#volume{ width:75px; vertical-align:bottom; } */
/* 搜索框区域 */
#searchWrap{
	width: 1080px;
	height: 60px;
	/* background: #6CDBEB; */
	position: absolute;
	top: 380px;
	left: 0px;
}
#search{
    width: 370px;
    height: 50px;
    margin: 0 0 0 160px;
    border: 3px solid #E9E9E9;
    padding: 0 10px;
    float: left;
    border-radius: 5px;
    color: #0052D9;
    transition: all 1s;
	font-size: 20px;
	font-weight: 7px;
}
#search:hover{
	border: 3px solid #0052D9;
}
#search:focus{
	width: 70%;
	outline: none;
}
#searchBtn{
	width: 24px;
	height: 24px;
	background: url(../images/search.svg);
	position: relative;
	top: 18px;
	left: -40px;
	border: none;
}
#searchBtn:hover{
	cursor:pointer;
}
/* 底部信息栏 */
#footer{
color: #FFFFFF;
text-shadow: 2px 2px 2px #797979;
}
/* 删除按钮封装 */
.btnDel{
	border: none;
	z-index: -999;
}